<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="public/css/main.css">
    <link rel="stylesheet" href="public/css/bootstrap.css">
</head>
<body>
    <section class="page-title page-title-2 image-bg overlay parallax">
        <div class="background-image-holder">
            <img alt="Background Image" class="background-image" src="../../public/img/header.jpg" />
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="uppercase mb8">About Us</h2>
                    <p class="lead mb0">A descriptive subtitle for your page.</p>
                </div>
                <div class="col-md-6 text-right">
                    <ol class="breadcrumb breadcrumb-2">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">Pages</a>
                        </li>
                        <li class="active">About Us</li>
                    </ol>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section  id="user" style="display:none;">
        <div class="container v-align-transform">
            <div class="row">
                <div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2">
                    <div class="feature bordered text-center">
                        <div><span>用户信息</span></div>
                        <p><span>admin</span></p>
                        <p><span>你好，管理员 <a href="/admin">点击这里进入管理</a></span></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="register">
        <div class="container v-align-transform">
            <div class="row">
                <div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2">
                    <div class="feature bordered text-center">
                        <h4 class="uppercase">注册</h4>
                        <form class="text-left">
                            <p><span>用户名：</span> <input type="text" name="username"></p>
                            <p><span>密码：</span> <input type="password" name="password"></p>
                            <p><span>确认：</span> <input type="password" name="repassword"></p>
                            <p><span></span> <button>登录</button></p>
                        </form>
                        <p><span>已有账号？ <a class="tab" href="javascript:0">登录</a></span></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section  id="login" style="display: none">
        <div class="container v-align-transform">
            <div class="row">
                <div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2">
                    <div class="feature bordered text-center">
                        <h4 class="uppercase">登陆</h4>
                        <form class="text-left">
                            <p><span>用户名：</span> <input type="text" name="username"></p>
                            <p><span>密码：</span> <input type="password" name="password"></p>
                            <p><span></span> <button>登录</button></p>
                        </form>
                        <p><span>还没注册？ <a class="tab" href="javascript:0">注册</a></span></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="../../public/js/jquery.min.js"></script>
    <script src="../../public/js/index.js"></script>
    <script src="../../public/js/parallax.js"></script>
</body>
</html>